* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.svgContentResponsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.modes {
  right: 16px;
  top: 65px;
}

.searchBox {
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  width: 28%;
  font-size: 1rem;
  line-height: 1.25;
  padding: 0.5rem 0.75rem;
  color: #55595c;
  background-color: rgba(250,250,250, .75);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  position: inline
}

.scaleList {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  padding: 0;
  overflow:hidden;
}


