.header 
  margin-top: 6rem 
  text-align: center 

.docs-header 
  text-transform: uppercase 
  font-size: 3.0rem
  letter-spacing: 0.2rem 
  font-weight: 600 
  color: red
  
.docs-section 
  border-top: 1px 
  solid #eee 
  padding: 4rem 0
  margin-bottom: 0 
  
.docs-example 
  margin-bottom: 0

  
