
.docs-header 
  text-transform: uppercase 
  font-size: 3.0rem
  letter-spacing: 0.2rem 
  font-weight: 600 
  color: blue
  
.docs-section 
  border-top: 1px 
  solid #eee 
  padding: 4rem 0
  margin-bottom: 0 
  


  
