# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Each user will be requested for
# review when someone opens a pull request.

* @electrode-io/electrode-core