
.header
  text-transform: uppercase
  font-size: 3.0rem
  letter-spacing: 0.2rem
  font-weight: 600
  color: blue

.section
  border-top: 1px
  solid #eee
  padding: 4rem 4rem 4rem 4rem
  margin-bottom: 0

.section >
.main
  width: 30%
  margin: 22px
  float: center
  text-align: center
  cursor: pointer
  font-size: 24px
  margin: 10px 10px 10px 100px
  height: 100px

.button-one,
.button-two,
.button-three
  height: 100px
  width: 200px
  text-align: center
  font-size: 24px

.button-one
  padding: 20px 60px
  outline: none
  background-color: #27ae60
  border: none
  border-radius: 5px
  box-shadow: 0 9px #95a5a6
  margin: 10px

.button-one:hover
  background-color: #2ecc71

.button-one:active
  background-color: #2ecc71
  box-shadow: 0 5px #95a5a6
  transform: translateY(4px)

.button-two
  border-radius: 4px
  background-color: #d35400
  border: none
  padding: 20px
  transition: all 0.5s
  margin: 10px

.button-two span
  cursor: pointer
  display: inline-block
  position: relative
  transition: 0.5s

.button-two span:after
  content: "»"
  position: absolute
  opacity: 0
  top: 0
  right: -20px
  transition: 0.5s

.button-two:hover span
  padding-right: 25px

.button-two:hover span:after
  opacity: 1
  right: 0

.button-three
  position: relative
  background-color: #f39c12
  border: none
  padding: 20px

  -webkit-transition-duration: 0.4s
  transition-duration: 0.4s
  text-decoration: none
  overflow: hidden

.button-three:hover
  background: #fff
  box-shadow: 0px 2px 10px 5px #97b1bf
  color: #000


.button-three:after
  content: ""
  background: #f1c40f
  display: block
  position: absolute
  padding-top: 300%
  padding-left: 350%
  margin-left: -20px !important
  margin-top: -120%
  opacity: 0
  transition: all 0.8s


.button-three:active:after
  padding: 0
  margin: 0
  opacity: 1
  transition: 0s
