* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #cccccc;
}

/*@font-face {
    font-family: Gotham-Rounded;
    src: url("./fonts/Gotham-Rounded-Light.ttf");
}
@font-face {
    font-family: Gotham-Rounded-Book;
    src: url("./fonts/Gotham-Rounded-Book.ttf");
}*/
.navbar {
  width: 100%;
  background-color: #00294b;
  margin-bottom: 30px;
  display: inline-flex;
  height: 90px;
}

.navbarItem {
  margin-left: 15px;
  display: inline-block;
  width: 100px;
  border-top: 7px solid #00294b;
  text-decoration: none;
}

.navbarItemSelected {
  margin-left: 15px;
  display: inline-block;
  width: 100px;
  border-top: 7px solid white;
  text-decoration: none;
}

.navbarItem h2 {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25%;
  /*font-family: Gotham-Rounded;*/
}

.navbarItemSelected h2 {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25%;
  /*font-family: Gotham-Rounded;*/
}

.electrodeLogo {
  display: inline-block;
  margin-left: 12%;
}

.electrodeLogo img {
  margin-left: 5px;
  margin-top: 10px;
  width: 65px;
}

.legacy {
  background: black;
  color: gray;
  padding: 10px;
}

.legacy pre {
  white-space: pre-wrap;
}

.warningsErrorsContainer {
  border-radius: 2px;
  box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3), 0 15px 12px 0 rgba(0, 0, 0, 0.22);
  border-width: 0.5px;
  border-image-source: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4) 5%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0)
  );
  border-image-slice: 1;
  margin-bottom: 20px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.titleText {
  display: inline-block;
  color: #fff;
  margin-left: 65px;
}

.warningTitle {
  background-color: #836025;
  position: relative;
}

.errorTitle {
  background-color: #9e0707;
  position: relative;
}

.successTitle {
  background-color: #1f6b23;
  position: relative;
}

.iconContainer {
  height: 100%;
  position: absolute;
  color: white;
}

.successIconContainer {
  background-color: #18571c;
}

.warningIconContainer {
  background-color: #6b4f1f;
}

.errorIconContainer {
  background-color: #740000;
}

.warningErrorIcon {
  padding-top: 22px;
  padding-left: 15px;
  margin-right: 15px;
}

.warningErrorText {
  display: inline-block;
  margin-left: 65px;
  color: white;
}

.modules {
  display: inline-block;
  float: left;
  width: 50%;
  padding-bottom: 8% !important;
}

.content {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  background-color: lightgrey;
}
