@value blue: #1EAEDB;
@value black: #000000;
@value white: #FFFFFF;

.active {
  display: inherit;
}

.inactive {
  display: none;
}

.accordion {
  background-color: white;
  border: 1px solid blue;
  border-radius: 5px;
  border-top-color: blue;
  color: black;
  text-align: left;
  word-wrap: break-word;
}

.accordion a {
  color: blue;
  display: inline-block;
  padding: 10px;
}

.accordion a:hover {
  color: blue;
  cursor: pointer;
}

.accordion p {
  background-color: blue;
  color: white;
  margin-bottom: 0px;
  padding: 10px;
}
