@value grey: #8C8B8B;

.container {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.container hr {
  border-top: 1px solid grey;
  margin: 50px 0;
}

.container h4 {
  text-align: left;
}
